/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #fff;
  font-style: normal;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}



.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  padding: 1vw;
  width: 100%;
  white-space: nowrap;
}

.footer ul{
  list-style: none;
  align-items: center;
  gap: 1vw;
}

.main-bg{
  background-color: #222222 ;

}

.google{
  background-color: orangered;
  color: white;
  padding: 0.25rem;
}

.youtube{
  background-color: red;
  color: white;
  padding: 0.25rem;
}

.facebook{
  color: white;
  background-color:  rgb(59, 91, 152);
  padding: 0.25rem;
  
}

.twitter{
  color: white;
  background-color: #1DA1F2 ;
  padding: 0.25rem;
  
}

.linkedin{
  background-color:#0A66C2;
  color: white;
  padding: 0.25rem;
}

.fa{
  width: 20px;
}