@{
    ViewData["Title"] = "Contact and About";
    ViewData["css-link"] = "~/css/contact.css";
}



<div class="wrapper">
    <h1>Contact & About</h1>

    <div class="row contact">
        <div class="col-md-4 content-block col-sm-12 col-12">
            <h1>Contact Us</h1>
            <p>This website is developed by Kinley Gyeltshen <br>
                To get in contact please email u3264610@uni.canberra.edu.au</p>
        </div>
        <div class="col-md-4 content-block col-sm-12 col-12">
            <h1>About Us</h1>
            <p>
                This website provides an introduction to Artificial Intelligence and was created as
                partial fulfillment of the assessment requirements of Web Design and Programming at the
                University of Canberra.
                This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design
                techniques.

            </p>
        </div>
        <div class="col-md-4 content-block col-sm-12 col-12">
            <h1>Copyright</h1>
            <p>All images used in this website were downloaded from <a href="https://unsplash.com/">Unsplash.</a><br>
                The icons for the footer from <a href="https://fontawesome.com/">fontawesome.</a><br>
                The Anton font used for headers from <a href="https://fonts.google.com/">Google Fonts</a></p>
        </div>

    </div>


</div>
