.wrapper{
    background-image: url("../images/bg2.jpg");
    background-position: center;
    background-size: cover;

    padding: 4vw;
}

h1{
    font-family: "Anton", sans-serif;
    text-shadow: 4px 4px 0px navy, 4px 4px 8px white;
    padding: 3vw 0vw 2vw 0vw;
    text-align: center;
    color: #f8bd08;
    font-size: 4vw;
}

h3{
    font-family: "Anton", sans-serif;
    text-shadow: 2px 2px 0px navy, 2px 2px 4px white;
    color: yellow;
    font-size: 2em;
}

h4{
    color: white;
}

.r_u_sure{
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;

}